# We don't want lockfiles in stacks, as people could use a different package manager
# This part will be removed by `remix.init`
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml

# Don't include this because it's project-specific
.firebaserc

node_modules

/api
/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/postgres-data

/app/styles/tailwind.css
ui-debug.log
firebase-debug.log
.DS_Store